// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

@import '~grommet/scss/hpe/index';

#map {
  width: 100%;
  height: calc(100vh - 412px);

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
  }
}


// removing highlight and applying darker hover color
// for active menu anchors
.menu__drop {
  .anchor {
    &.active {
      color: $link-hover-color;

      &:hover {
        background-color: inherit;
      }
    }
  }
}
