// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

//for hpe theme, uncomment the following import
@import '~grommet/scss/hpe/hpe.defaults';

@import '~grommet/scss/grommet-core/index';

#map {
  width: 100%;
  height: 50vh;

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
  }
}
